# Dependencias
node_modules/
**/node_modules/

# Builds
dist/
**/dist/

# Variables de entorno
.env
api/.env

# NestJS
api/sshKey
api/sshKey.pub

# Angular
web/.angular/
web/dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
